#logo {
  width: 6%;
}
.navbar__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
}
